# Output-folders
output*/
examples/output*/

# Input/output files
*.log
*.pdf
*.p
*.dat
*.res
*.out
*.bak
*.hdf5
*.htm

# Re-include pdf's for the documentation
!/examples/reference/*.pdf
!/examples/reference/*/*.pdf

# Documentation
.idea
docs/old
docs/.idea
examples/make_input.py

# Demo scripts
examples/*.xml
examples/*/*.xml
examples/grids/
reference_*/
reference_note.txt

# Editor
*.swp
.vscode/

# Folder for downloading/storing the dustmaps (and grids)
dustmaps/
_dustpath.py
grids/
_gridpath.py

# Virtual environment
/venv*/
/bastaenv/

###########
### Generic
###########

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ipython Notebook
.ipynb_checkpoints

# Checkers
.mypy_cache

# Pyenv
.python-version

# Fortran/F2PY compilation
fort.*
*.dSYM
*.md5

# Misc
.DS_Store
